<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

    <p>{{>nav}}</p> {{!-- 插入 /views/partials 目录下对应的 nav.hbs 组件  --}}
    <p>{{{body}}}</p> {{!-- 根据对应路由的 ctx.render('xxx'),在 /views/下寻找对应的 xxx.hbs  --}}


    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    {{#block 'jquery'}}{{/block}}
</body>

</html>