<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <input type="input" v-model="message">
        </div>

        <div>
            <button @click="send">发送</button>
            <button @click="clean">清除</button>
        </div>

        <div>
            <p>历史缓存</p>
            <p v-for="item in list">{{item}}</p>
        </div>
    </div>

    <script>
        const host = 'http://localhost:3000'
        var app = new Vue({
            el: '#app',
            data: {
                message: 'please input message',
                list: [],
            },
            methods: {
                async send() {
                    // console.log('send')

                    let ret = await axios.post(`${host}/send`, {
                        message: this.message
                    })
                    // console.log('send 返回的结果:', ret)

                    this.list = ret.data;
                },
                async clean() {
                    // console.log('clean')
                    let ret = await axios.post(`${host}/clear`)
                    this.list = ret.data;
                }
            },
            mounted() {
                // console.log('hello world')

                setInterval(() => {
                    axios.get(`${host}/list`).then((ret) => {
                        // console.log('list 返回的结果:', ret)
                        this.list = ret.data;
                    })
                },1000)
            }
        });
    </script>
</body>

</html>